<form action="/restaurants/{{ restaurant._id}}?_method=PUT" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <p></p>
                <p>
                    <span class="text-secondary">
                        <i class="fas fa-utensils pr-2"></i>
                        餐廳名稱：
                    </span>
                    <input type="text" placeholder="Name" name="name" value="{{ restaurant.name }}">
                </p>
                <p></p>
                <p>
                    <span class="text-secondary">
                        <i class="fas fa-utensils pr-2"></i>
                        餐廳英文名稱：
                    </span>
                    <input type="text" placeholder="English Name" name="name_en" value="{{ restaurant.name_en }}">
                </p>
                <p></p>
                <p class="mb-1">
                    <span class="text-secondary">
                        <i class="fas fa-utensils pr-2"></i>
                        類別：
                    </span>
                    <input type="text" placeholder="Category" name="category" value="{{ restaurant.category }}">
                </p>
                <p></p>
                <p class="mb-1">
                    <span class="text-secondary">
                        <i class="fas fa-map-marker-alt pr-2"></i>
                        地址：
                    </span>
                    <input type="text" placeholder="Address" name="location" value="{{ restaurant.location }}">
                </p>
                <p></p>
                <p class="mb-1">
                    <span class="text-secondary">
                        <i class="fas fa-map-marker-alt pr-2"></i>
                        Google Map網址：
                    </span>
                    <input type="url" placeholder="Google Map Url" name="google_map"
                        value="{{ restaurant.google_map }}">
                </p>
                <p></p>
                <p class="mb-1">
                    <span class="text-secondary">
                        <i class="fas fa-mobile-alt pr-2"></i>
                        電話：
                    </span>
                    <input type="text" placeholder="Phone" name="phone" value="{{ restaurant.phone }}">
                </p>
                <p></p>
                <p class="mb-5">
                    <span class="text-secondary">
                        <i class="fas fa-mobile-alt pr-2"></i>
                        餐廳描述：
                    </span>
                    <input type="text" placeholder="Description" name="description"
                        value="{{ restaurant.description }}">
                </p>
                <p></p>
                <p class="mb-5">
                    <span class="text-secondary">
                        <i class="fas fa-mobile-alt pr-2"></i>
                        餐廳照片網址：
                    </span>
                    <input type="url" placeholder="Image url" name="image" value="{{ restaurant.image }}">
                </p>
                <p></p>
                <a href="/">back</a>
                <button type="submit">Save</button>
                <p></p>
            </div>
        </div>
    </div>
</form>